<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="400" alt="Angular Logo" src="http://oi67.tinypic.com/e6aq2v.jpg">
</div>
<h2 Setmycolor>References: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.facebook.com/sachinmamoru.liyanage">Facebook</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/sachin-liyanage-07814a160">Linkedin</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/sachin1liyanage">Github</a></h2>
  </li>
</ul>

